{% if section.settings.novo_vendidos %} 
<h5 class="vendidos02"><span>Nuevo   &nbsp|&nbsp  {{ product.selected_or_first_available_variant.inventory_quantity }} vendidos</span></h5>   
    
{%endif%}

<style> 
.vendidos02 {
margin-bottom: {{ section.settings.vendidos_2}}; 
font-size: 13px;  
}  
</style> 